@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.pag1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem {
    height: 640px;
    width: 431px;
    position: relative;
    margin-right: 10%;
}

#img {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-botão {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-right: 15%;
}

.titulo {
    font-size: 300%;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
}

.texto {
    text-align: center;
}

.botoes {
    text-align: center;
}


/*  .texto-botao {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFF7D;
}

.imagem {
    width: 50%;
    text-align: center;
}

#img {
    width: 50%;
    align-items: center;
}

titulo {
    position: absolute;
    width: 473px;
    height: 101px;
    left: 719px;
    top: 223px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}

.texto {
    position: absolute;
    width: 443px;
    height: 169px;
    left: 734px;
    top: 338px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.botao1 {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 734px;
    top: 572px;
    background: #3EB25E;
    border-radius: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.botao2 {
    border: none;
    position: absolute;
    width: 198px;
    height: 36px;
    left: 960px;
    top: 571px;
    background: #3EB25E;
    border-radius: 35px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.botao1:hover {
    background-color: #FFFF7D;
    ;
}

.botao2:hover {
    background-color: #FFFF7D;
    ;
}*/