@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.pag1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem {
    width: 552.51px;
    height: 528.01px;
    position: relative;
}

#img1 {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formulario {
    margin-left: 5%;
    font-family: 'Roboto';
}

.titulo {
    font-size: 100%;
    font-weight: 700;
    font-style: normal;
}

#opções-conta {
    font-size: 110%;
    font-weight: 400;
    font-style: normal;
}

.radio-button {
    font-size: 110%;
    font-weight: 400;
    font-style: normal;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 110%;
    font-weight: 400;
    font-style: normal;
}


/* Escondemos o radio original */

input[type=radio] {
    display: none;
}


/* Usamos o pseudo-element :before para recriar o novo radio */

label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    left: 0;
    bottom: 1px;
    background: rgba(62, 178, 94, 0.3);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input[type=radio]:checked+label:before {
    content: "\2022";
    background-color: #3EB25E;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}