@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.pag1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-right: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 5%;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    font-family: Roboto;
    font-size: 100%;
    font-weight: 700;
    font-style: normal;
}

#ent {
    border-radius: 20px;
    padding: 5%;
    width: 130%;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#ent3 {
    border-radius: 20px;
    padding: 5%;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.imagem {
    width: 552.51px;
    height: 521.01px;
    position: relative;
}

#img1 {
    width: 94%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao1,
.botao2 {
    width: 130%;
    background: #3EB25E;
    border-radius: 35px;
    border: none;
    padding: 5px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    margin: 8px 0px;
    padding: 3%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

.botao1:hover {
    background-color: #FFFF7D;
}

.botao2:hover {
    background-color: #FFFF7D;
    cursor: pointer;
}

@media screen and (max-width: 481px) {
    .pag1 {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 480px;
        height: 760px;
        margin: 0;
        padding-top: 51px;
    }
    .imagem {
        height: 344.04px;
        margin: 0;
    }
    #img1 {
        width: 360px;
        height: 344.04px;
        top: 30%;
        left: 50%;
        transform: translate(-49%, -30%);
        padding: 10%;
    }
    .card {
        width: 35%;
    }
    .botao3 {
        width: 95%;
    }
    .botao1,
    .botao2 {
        width: 130%;
    }
}