@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.pag1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem {
    height: 640px;
    width: 431px;
    position: relative;
    margin-right: 10%;
}

#img {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-botão {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-right: 15%;
}

.titulo {
    font-size: 290%;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
}

.texto {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 180%
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botao1 {
    background: #3EB25E;
    border-radius: 35px;
    border: none;
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 130%;
    width: 199px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao2 {
    background: #3EB25E;
    border-radius: 35px;
    border: none;
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 130%;
    width: 199px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
}

.botao1:hover {
    background-color: #FFFF7D;
    cursor: pointer;
}

.botao2:hover {
    background-color: #FFFF7D;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

@media screen and (max-width: 481px) {
    .pag1 {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 480px;
        height: 760px;
        margin: 0;
        padding-top: 51px;
    }
    .imagem {
        height: 274.98px;
        margin: 0;
    }
    #img1 {
        width: 178.7px;
        height: 274.98px;
        top: 60%;
        left: 50%;
        transform: translate(-69%, -30%);
        padding: 10%;
    }
    .texto-botao {
        width: 411px;
        height: 260px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
        padding-bottom: 71px;
    }
    .titulo {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35.16px;
        align-items: center;
    }
    .texto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        align-items: center;
    }
    .botoes {
        width: 302px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .botao1 {
        width: 142px;
        height: 26px;
        background: #3EB25E;
        border-radius: 35px;
        font-family: Roboto;
        color: #FFFFFF;
        border: none;
        font-size: 15px;
    }
    .botao2 {
        width: 142px;
        height: 26px;
        background: #3EB25E;
        border-radius: 35px;
        font-family: Roboto;
        color: #FFFFFF;
        border: none;
        font-size: 15px;
    }
    a:link {
        text-decoration: none;
    }
}